# SQL FOR DATA SCIENCE

## what is a database?
it is a repository for data.provides the functionality of querying, modifying and adding data.  
when data is stored in tabilar form its called relational database.

## What is SQL?
Standard Query Language is used for relational databases. to query the data.

### what are some basic SQL commands?
**DDL-**
* CREATE
* DROP
* RENAME
* ALTER




**DML -**
* INSERT  
* SELECT  
* UPDATE  
* DELETE

#### CREATE
**CREATE TABLE table_name{col_name TYPE(SIZE),);**    
* NOT NULL is used if we dont want that coulumn should contain null values.  
* PRIMARY KEY(colname) is used to make a column as primary key, in order to avoid duplicate values

#### DROP
**DROP TABLE tablename;**

#### SELECT
**SELECT col_name FROM tablename;**  
returns a resultset conatining all rows of column col_name  
**SELECT * FROM tablename;**  
returns a resultset conatining the entire table.  
**SELECT * FROM tablename WHERE col_name = "00";**  
returns a resultset containing all attributed where col_name is 00.

#### COUNT()
**SELECT COUNT(country) FROM countries WHERE country="India";**  
a built in function that retrives the number of rows matching the query criterion.

#### DISTINCT
**SELECT DISTINCT columnname FROM tablename;**  
used to retrieve unique values from the table

#### LIMIT
**SELECT * FROM tablename LIMIT 10;**  
restricts no. of rows retrieved from the databae.

#### INSERT
**INSERT INTO tablename(col1, col2) VALUES("oo",00),("11",11);**  
we can insert one or multiple rows in a table using a single SQL statement.

#### UPDATE
**UPDATE tablename col_1=00 WHERE col_2="ab"**  
if we dont include WHERE clause all rows will be updated.

#### DELETE
**DELETE FROM tablename WHERE col_1=00;**  
IN(to, from) can be used for range it is inclusive of to, from.

#### STRING PATTERS
**SELECT firstname FROM author WHERE firstname LIKE 'R%';**

#### RANGE
**SELECT * FROM books WHERE pages BETWEEN 200 AND 300;**  
**SELECT * FROM author WHERE country IN('EU','IN');**

#### ORDER BY
**SELECT * FROM students ORDER BY marks;**  
by default the resultset is ordered in ascending order, to order in descending order we use-  
**SELECT * FROM students ORDER BY marks DESC;**

#### GROUP BY
**SELECT country, COUNT(country) as count_country FROM author GROUP BY country;**  
having clause can be used with only group by  
**SELECT country, COUNT(country) as count_country FROM author GROUP BY country having COUNT(country) > 4;**